# OPENAI_API_KEY=sk-proj-1234567890
# Cloudflare AI Gateway https://developers.cloudflare.com/ai-gateway/
GATEWAY_BASE_URL=https://gateway.ai.cloudflare.com/v1/cc60c390100c540a30060970c4689b9a/llm-chat-app/workers-ai